* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #BADEFC;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #0A2647;
    margin-top: 2rem;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 8vmin;
    background-color: #ddd26d;
    color: #4084d1;
}

#reset-button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #e4edf7;
    color: #0059ff;
    cursor: pointer;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    background-color: #e4edf7;
    color: #0059ff;
    cursor: pointer;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display:none;
}